---
import 'ress/dist/ress.min.css'
import Layout from '../layouts/layout.astro'
import { HeroSectionComponent } from '../components/sections/hero/hero'
import { AboutUsSectionComponent } from '../components/sections/about-us/about-us'
import { HowWeWorkSectionComponent } from '../components/sections/how-we-work/how-we-work'
import { ReviewsSectionComponent } from '../components/sections/reviews/reviews'
import { getImage } from 'astro:assets'
import bgImage from '../assets/images/bg.png'
import heroImage from '../assets/images/hero-image.png'
import slideImage1 from '../assets/images/slide-image-1.png'
import slideImage2 from '../assets/images/slide-image-2.png'
import slideImage3 from '../assets/images/slide-image-3.png'
import slideImage4 from '../assets/images/slide-image-4.png'
import aboutUsImage from '../assets/images/about-us-image.png'

const { src: bgImageSrc } = await getImage({
  src: bgImage,
  alt: 'Хлеб&Печь',
  format: 'webp',
})

const { src: heroSectionImageSrc } = await getImage({
  src: heroImage,
  alt: 'Хлеб&Печь',
  format: 'webp',
  width: 665,
  height: 414,
})

const howWeWorkImages = await Promise.all(
  [slideImage1, slideImage2, slideImage3, slideImage4].map(async img => {
    const { src } = await getImage({
      src: img,
      alt: 'Хлеб&Печь',
      format: 'webp',
      width: 270,
      height: 300,
    })

    return src
  }),
)

const { src: aboutUsSectionImageSrc } = await getImage({
  src: aboutUsImage,
  alt: 'Хлеб&Печь',
  format: 'webp',
  width: 635,
  height: 735,
})

const backgroundImage = `url(${bgImageSrc})`
---

<Layout>
  <main class="main-layout">
    <HeroSectionComponent image={heroSectionImageSrc} client:load />
    <HowWeWorkSectionComponent images={howWeWorkImages} client:load />
    <AboutUsSectionComponent image={aboutUsSectionImageSrc} client:load />
    <ReviewsSectionComponent client:load />
    <footer class="main-layout__footer">
      <ul class="main-layout__footer__contacts">
        <li class="main-layout__footer__contacts__item">
          <a href="mailto:mail@example.com">mail@example.com</a>
        </li>
        <li class="main-layout__footer__contacts__item">
          <a href="tel:8 (800) 555-35-35">8 (800) 555-35-35</a>
        </li>
        <li class="main-layout__footer__contacts__address">
          г. Ярославль, Московский проспект, 88
        </li>
      </ul>
      <span class="main-layout__footer__copy">
        {new Date().getFullYear()} &copy; Хлеб&Печь
      </span>
    </footer>
  </main>
</Layout>

<style define:vars={{ backgroundImage }}>
  .main-layout::before {
    content: '';
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-image: var(--backgroundImage);
    background-position: -5%;
    background-repeat: repeat;
    z-index: -1;
  }

  .main-layout__footer {
    padding: 25px var(--wrapper);
    background-color: var(--color-brown);
    color: white;
    font-family: Nunito, sans-serif;
    font-style: normal;
  }

  .main-layout__footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
  }

  .main-layout__footer__contacts__item a {
    color: #fff;
    text-decoration: none;
  }

  .main-layout__footer__contacts__item a:hover {
    font-weight: 700;
  }

  .main-layout__footer__copy {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 143%;
  }
</style>
